{% extends "crowdfund/base.html" %}
{% load humanize %}

{% block content %}

<h3>My Donations</h3>
<ul id="donations">
{% for donation in donations %} 
    <li>Donation to {{ donation.program }} (Rp. {{ donation.amount|intcomma }})</li>
{% endfor %} 
</ul>
{% endblock %}



{% block script %}
    $(function() {
        var donations = $("#donations");
        $.ajax("{% url 'my-donations' %}").then(function(data) {
            data.forEach(function(donation) {
                donations.append(`<li>Donation to ${donation.program} (Rp. ${donation.amount})</li>`);
            })
        })
    });
{% endblock %}