{% extends "crowdfund/base.html" %}

{% load humanize %}

{% block title %}Donations{% endblock %}

{% block content %}
    <div style="padding:36px;">
        {% for donation in donations %}
            <div>{{ donation.display_name }} – {{ donation.program }} (Rp. {{ donation.amount|intcomma }})</div>
        {% empty %}
            <div>Belum ada donasi saat ini.</div>
        {% endfor %}
    </div>
{% endblock %}