{%  extends "crowdfund/base.html" %}

{% block title %}Donations{% endblock %}


{% block content %}
    <style>
        form {
            display: flex;
            flex-direction: column;
            padding: 36px;
        }

        .fields > p {
            display: flex;
            max-width: 560px;
        }

        .fields > p > label {
            flex: 1;
            text-align: center;
            text-transform: uppercase;
        }

        .fields > p > input {
            flex: 2;
        }

        .submit-button {
            text-transform: uppercase;
            color: #FFD185;
            background: transparent;
            text-align: right;
        }
        select {
        	flex: 2;
        }

        @media only screen and (max-width: 600px) {
            .fields > p {
                flex-direction: column;
            }
        }
    </style>
    <form action={% url 'donate-program' program.id %} method="post">
        <h3>Donation to {{ program }}</h3>
        {% csrf_token %}
        <div class="fields">
            {{ form.as_p }}
        </div>
        <input class="btn submit-button" type="submit" value="Kirim Donasi">
    </form>
{% endblock %}




