{% extends "crowdfund/base.html" %}

{% block title %}News & Programs{% endblock %}

{% block content %}
    <div style="padding:36px;">
        {% for news in news_list %}
            <div>Programs for {{ news }}</div>
            <ul>
            {% for program in news.program_set.all %}
                <li>{{ program }}</li>
            {% endfor %}
            </ul>
        {% empty %}
            <div>Belum ada berita saat ini.</div>
        {% endfor %}
    </div>
{% endblock %}