{% extends "crowdfund/base.html" %}

{% block title %}News{% endblock %}


{% block content %}
    <style>
        .news {
            position: relative;
        }

        .news-button {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #FAAC58;
            color: #343F4B;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .news-button:hover {
            background-color: orange;
        }

        img {
            width: 100%;
            filter: brightness(75%);
        }

        .center {
            position: absolute;
            top: 40%;
            width: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }

        .headline {
            background: linear-gradient(rgba(50, 115, 220, 0.6), rgba(50, 115, 220, 0.6));
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            display: block;
            height: 320px;
        }

    </style>
    {% for news in news_list %}
        <div class="news">
            <a class="headline" href="{{ news.article_url }}" style="background-image: url('{{ news.image_url }}')">
                <div class="center">
                    {{ news.title }}
                </div>
            </a>
            <a class="btn news-button" href={% url 'programs' %}>DONATE NOW!</a>
        </div>
    {% endfor %}

{% endblock %}


        

