nav {
    background-color: #6DD5ED;
}

nav a {
    color: #47525E;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar-nav {
    justify-content: space-around;
    width: 100%;
}

.content {
    background-color: #1565C0;
    color: #FFD185;
}

.logo {
    color: #1565C0;
    font-weight: bold;
    margin-bottom: 4px;
}

.donate-button {
    background-color: #4286F4;
    color: #FFD185;
    border-radius: 0;
    padding: 12px 36px;
    align-self: flex-end;
    display: block;
}

.donate-button:hover {
    color: white;
}

.header-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slogan {
    font-size: 18px;
    color: #47525E;
    text-align: left;
}

.header {
    padding: 36px;
}

@media only screen and (max-width: 600px) {
    .header-left {
        margin-bottom: 16px;
    }

    .slogan, .logo {
        text-align: center;
    }

    .donate-button {
        align-self: center;
    }
}

