{%  extends "crowdfund/base.html" %}

{% load static %}
    {% block title %}Programs{% endblock %}
    {% block content %}
    {% for program in programs %}
    <div style="display:flex;justify-content:space-between;">
        <div>{{ program }}</div> 
        {% if request.user.is_authenticated %}
         <a class="btn btn-primary" href="{% url 'donate-program' program.id %}">Donate Now</a>
        {% else %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Donate Now
        </button>
        {% endif %}
    </div>
    {%  endfor %}


    {% if not request.user.is_authenticated %}
      <style>
          .modal {
              color: black;
          }
      </style>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">You are not logged in</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Create an account now to start donating!
            </div>
            <div class="modal-footer">
              <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary">Sign in with Google</a>
            </div>
          </div>
        </div>
      </div>
   {% endif %}
    {% endblock %}
