{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="711281791054-onkjic72e716lrnvdno5nr2na2j6348h.apps.googleusercontent.com
    ">
    <title>{% block title %}{% endblock %} | SinarPerak</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
    {% block head %}
    {% endblock %}

</head>

<body>
<div class="container">
    <div class="row header">
        <div class="col header-left">
            <h2 class="logo">SinarPerak</h2>
            <div class="slogan">A website to donate!</div>
            {%if user.is_authenticated%}
            <a href="{% url 'profile' %}">halo {{user.first_name}}</a><br>
            {%else%}
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
            {%endif%}
        </div>
        <div class="col header-right">
            {% if user.is_authenticated %}
            <a class="btn donate-button" href={% url 'logout' %}><div>LOGOUT</div></a>
            {% else %}
            <a class="btn donate-button" href={% url 'social:begin' 'google-oauth2' %}><div>LOGIN</div></a>
            {% endif %}
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'index' %}>ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'news' %}>NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'programs' %}>DONATE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'news-programs' %}>PROGRAMS</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    {% block script %}
    {% endblock %}
</script>
</body>

</html>
