{% extends "crowdfund/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <style>
        .motto {
            text-align: center;
            padding: 36px;
        }
        #hh{
            text-align: left;
        }
        .form{
            width: 100%;
            text-align: left;
        }
        .kirim{
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 75%;
            opacity: 0.9;
        }
        .apa {
            text-align: left;
        }
    </style>
    <div class="motto">
        <div>We work with the bruise, the hunger and the lonely.</div>
        <div>We seek out those who are unloved and uncared for.</div>
        <div>Our organization was founded on the promise of taking people from dangerous,
            at-risk situations, and helping them thrive
            so that they can live full of hope and realize their God-given potential.
        </div>
        <p></p>
        <h3 id="hh">Testimoni Donatur</h3>
        {% if user.is_authenticated %}
            <form action="doing_some" method="POST" class="apa">
            <div class="form">
              {% csrf_token %}
              {{ form }}
            </div>
              <button type="submit" value="Submit" name="send" class="kirim">Send</button>
          </form>
    {% endif %}
    <div class="flex-item">
        <p></p>
        {% if todo %}
      {% for data in todo %}
        <div id="hh">
          {{data.testimony}}
        </div>
        <div id="hh">
          {{data.create_date}}
        </div>
        <p></p>
      {% endfor %}
    {% else %}
    <p></p>
    <div class="alert alert-danger text-center">
      <strong>Oops!</strong> Tidak ada testimoni.
    </div>
    {% endif %}
    </div>
    </div>
{% endblock %}